@model Entity.Concrete.Masa

@{
    ViewData["Title"] = "MasaGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-6">
            @using (Html.BeginForm("MasaGuncelle", "Masa", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.MasaId)
                @Html.Label("Ofis Adı")
                @await Component.InvokeAsync("OfisList")
                <br />
                @Html.Label("Masa Adi")
                @Html.TextBoxFor(x => x.MasaAdi, new { @class = "form-control" })
                <br />
                @Html.Label("Masa Kodu")
                @Html.TextBoxFor(x => x.MasaKodu, new { @class = "form-control" })
                <br />
                @Html.Label("Aktiflik durumu")
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Aktif" id="gridRadios1" value=true checked>
                    <label class="form-check-label">
                        Aktif
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Aktif" id="gridRadios1" value=false checked>
                    <label class="form-check-label">
                        Aktif Değil
                    </label>
                </div>
                @Html.Label("Katılımcı Sayısı")
                @Html.TextBoxFor(x => x.KatilimciSayisi, new { @class = "form-control" })
                <br />
                <button class="btn btn-info">Güncelle</button>
            }
        </div>
    </div>
</div>